@import style

header, footer
	background: $primary-color
	width: 100%
header
	background: $primary-color
	position: fixed
	top: 0
	width: 100%
nav
	ul
		list-style-type: none
		display: inline-block
		margin: 0
		padding: 0
		display: flex
		justify-content: center
		align-items: baseline

		li
			padding: $primary-gutter
		li:first-child
			margin-right: auto
			font-size: 24px
		li:last-child
			margin-left: auto
			visibility: hidden
	a
		text-decoration: none
		color: $secondary-color
	a:hover
		color: #FFF