@import style

header, footer
	background: $primary-color
	color: $secondary-color
	width: 100%
header
	background: $primary-color
	position: fixed
	top: 0
	width: 100%
nav
	ul
		list-style-type: none
		display: inline-block
		margin: 0
		padding: 0
		display: flex
		justify-content: center
		align-items: baseline

		li
			padding: $primary-gutter
		li:first-child
			margin-right: auto
			padding-left: 0
		li:last-child
			margin-left: auto
			padding-right: 0
			visibility: hidden
	a
		color: $secondary-color
	a:hover
		color: #FFF
footer
	.col * > *
		padding: 0px $primary-gutter $primary-gutter 0px
	a
		display: inline-block
	.col:first-child a:first-child
		padding: $primary-gutter $primary-gutter $primary-gutter 0px
	i
		width: 16px
	.map
		padding: 0
		width: 40%