/* Imports - font and other .sass files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext')

/* Variables */

$primary-color: #102B3F
$secondary-color: #EDEDED
$primary-text: #282828
$primary-gutter: 20px
$nav-height: 76px

/* Styles */

*
	box-sizing: border-box
body
	color: $primary-text
	background: $secondary-color
	font-family: 'Open Sans', sans-serif
	font-size: 16px
	line-height: 1.5
a
	text-decoration: none
.wrap
	max-width: 960px
	margin: 0 auto
.main
	margin-top: $nav-height + $primary-gutter * 2
.panel
	margin: 0px 20px 40px 20px
	background: #FFF
.main .col *
	padding: $primary-gutter
img
	max-width: 100%
.isteh
	font-size: 24px