extends layout

block content
    .wrap
        .grid
            .main
                .panel
                    .col.col--5-of-8
                        p
                            | Inox Staklo Teh je tvrtka koja se bavi obradom i pripremom inoxa, prvenstveno
                            | izradom nosača za stakla. Proizvodimo širok raspon proizvoda ovisno o potrebama kupca.
                            br
                            br
                            | Primarni proizvod su nam spider držači stakla raznih namjena
                            | (za staklena vrata, fasade, nadstrešnice, staklene
                            | stijene i slično). U dugodišnjem radu izradili smo i ugradili
                            | velik broj različitih proizvoda.
                            br
                            br
                            | Iako je tvrtka trenutno usmjerena na proizvodnju, po dogovoru je moguća i montaža.
                            | Ogled naših radova i okvirne informacije o istima te fotografije istih
                            | možete vidjeti na 
                            a(href='ponuda.html')
                                b stranici ponude
                            |.
                            br
                            br
                            | Kontaktirati nas možete na 
                            a(href='tel:+38598414550')
                                b +38598414550
                            |  ili 
                            a(href='mailto:emil.bosak@zg.t-com.hr')
                                b emil.bosak@zg.t-com.hr
                            |.
                    .col.col--3-of-8
                        .img
                            img(src='../img/img1.jpg')
                    .col.col--3-of-8
                        .img
                            img(src='../img/img2.jpg')
                    .col.col--5-of-8
                        p
                            | Radimo različite vrste nosača ovisno o potrebama klijenta. Proizvodimo
                            | velik broj visokokvalitetnih proizvoda dugi niz godina.