extends layout

block content
    .wrap#content
        .grid
            .main
                .panel.index-panel
                    .col.col--5-of-8.left-fix
                        p
                            | Inox Staklo Teh je tvrtka koja se bavi CNC tokarenjem metala, prvenstveno
                            | izradom nosača za stakla. Izrađujemo širok raspon proizvoda prema potrebama
                            | projekata.
                            br
                            br
                            | Naš primarni proizvod su spider držači stakla raznih namjena
                            | (za staklena vrata, fasade, nadstrešnice, staklene
                            | stijene, ...), a tokom dugogodišnjeg rada isporučili smo i montirali
                            | velik broj različitih spider držača i drugih proizvoda kao i velik
                            | broj staklenih nadstrešnica, ograda i sličnih.
                            | Ogled naših radova i okvirne informacije te fotografije istih
                            | možete vidjeti na 
                            a(href='ponuda.html')
                                b stranici proizvoda
                            |.
                            br
                            br
                            | Više proizvoda i najnovije isporuke možete vidjeti na našoj 
                            a(href='https://www.facebook.com/InoxStakloTeh')
                                b Facebook stranici
                            |. Na istoj nas možete i kontaktirati s Vašim upitima.
                            br
                            br
                            .cta-section
                                a(href='https://www.facebook.com/InoxStakloTeh')
                                    i.fa.fa-facebook-official(aria-hidden='true')
                                    span Pošaljite nam poruku
                            br
                            br.hidden-sm
                            br.hidden-sm
                            p
                                | Iako je tvrtka usmjerena na proizvodnju, po dogovoru je moguća i montaža.
                                | Fleksibilni smo po pitanju proizvodnje i montaže te prihvaćamo upite o specifičnim
                                | proizvodima koji odgovaraju Vašim potrebama te montaži istih.
                                | Želite li detaljnije informacije o našem radu i proizvodima, kontaktirajte nas
                                | na 
                                b 098414550
                                |.
                            br
                            br
                            .cta-section.visible-sm
                                a(href='tel:+38598414550')
                                    i.fa.fa-phone(aria-hidden='true')
                                    span Nazovite nas
                            br.hidden-sm
                            br.hidden-sm
                            br
                    .col.col--3-of-8
                        .img(data-content='Spider držač fi50').spider-fi-50
                            svg(xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Spider držač fi50 l=20 sa središnjim vijkom M20x1.5' viewBox='0 0 100 100')
                                title Spider držač fi50
                                desc Spider držač fi50 l=20 sa središnjim vijkom M20x1.5
                                circle(cx='50' cy='50' r='40' stroke='#102B3F' stroke-width='0.3' fill='#FFF' fill-opacity='0.0')
                                circle(cx='50' cy='50' r='20' stroke='#102B3F' stroke-width='0.3' fill='#FFF' fill-opacity='0.0')
                                circle(cx='40' cy='50' r='5' stroke='#102B3F' stroke-width='0.3' fill='#FFF' fill-opacity='0.0')
                                circle(cx='60' cy='50' r='5' stroke='#102B3F' stroke-width='0.3' fill='#FFF' fill-opacity='0.0')
                        .img(data-content='Spider držač fi50').spider-hex
                            svg(xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Spider držač fi50 l=25' viewBox='0 0 930 930')
                                title Spider držač fi50
                                desc Spider držač fi50 l=25
                                g
                                    circle(cx='465' cy='465' r='360' stroke='#102B3F' stroke-width='3' fill='#FFF' fill-opacity='0.0')
                                    circle(cx='465' cy='465' r='180' stroke='#102B3F' stroke-width='3' fill='#FFF' fill-opacity='0.0')
                                    polygon(width='310' height='310' transform='translate(315, 315)' points='300,150 225,280 75,280 0,150 75,20 225,20' stroke='#102B3F' stroke-width='3' fill='#FFF' fill-opacity='0.0').spider-hex-hex
                        .img(data-content='Inox AISI 316 pant za staklo').pant-staklo
                            svg(xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Inox AISI 316 pant za staklena vrata nestandardne debljine od 16mm, izrađeno po narudžbi' viewBox='0 0 100 50')
                                title Inox AISI 316 pant za staklo
                                desc Inox AISI 316 pant za staklena vrata nestandardne debljine od 16mm, izrađeno po narudžbi
                                rect(x='10' y='5' rx='0.5' ry='0.5' width='80' height='40' style='stroke:#102B3F;stroke-width:0.2;fill:#FFF;fill-opacity:0.0;')
                                circle(cx='25' cy='25' r='5' style='stroke:#102B3F;stroke-width:0.2;fill:#FFF;fill-opacity:0.0;')
                                circle(cx='75' cy='25' r='5' style='stroke:#102B3F;stroke-width:0.2;fill:#FFF;fill-opacity:0.0;')
                        br
                        br
                        .cta-section.work-cta
                                a(href='ponuda.html') Upoznajte naše proizvode