extends layout

block content
    .wrap
        .grid
            .main
                .panel
                    .col.col--5-of-8
                        p
                            | Inox Staklo Teh je tvrtka koja se bavi obradom i pripremom inoxa, prvenstveno
                            | izradom nosača za stakla. Proizvodimo širok raspon nosača, uključujući spider nosače.
                            br
                            br
                            | Iskustvom i kvalitetom rada te pristupačnom cijenom ističemo
                            | se na tržištu. U dugogodišnjem kontinuiranom radu izradili smo i montirali
                            | velik broj različitih krajnjih proizvoda od inoxa. Iako je tvrtka trenutno
                            | usmjerena na proizvodnju, po dogovoru je moguća montaža.
                    .col.col--3-of-8
                        .img
                            img(src='../img/img1.jpg')
                .panel
                    .col.col--3-of-8
                        .img
                            img(src='../img/img2.jpg')
                    .col.col--5-of-8
                        p
                            | Radimo različite vrste nosača ovisno o potrebama klijenta. Proizvodimo
                            | velik broj visokokvalitetnih proizvoda dugi niz godina.