doctype html
html(lang='hr')#html
  head
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(charset='utf-8')
    link(rel="stylesheet", href="../stylesheets/normalize.css")
    link(rel="stylesheet", href="../stylesheets/master.css")
    title ISTeh
  body
    header
      .wrap
        .grid--no-gutter
          nav(role='navigation')#nav
            #menuToggle
              input(type='checkbox')
              span
              span
              span
              ul#menu
                li
                  a(href='index.html').isteh
                    b Inox Staklo Teh
                li
                  a(href='index.html')
                    b POČETNA
                li
                  a(href='ponuda.html') 
                    b PROIZVODI
                li
                  a(href='onama.html') 
                    b INFO I KONTAKT
                li.icons
                  a(href='https://www.facebook.com/InoxStakloTeh')
                    b
                      i.fa.fa-facebook-official(aria-hidden='true')
    block content
    footer#footer
      .wrap
        .grid
          nav
            .col--1-of-3.col--m-2-of-2.col--s-2-of-2.col
              span
                a(href='index.html').isteh
                      b Inox Staklo Teh
              br
              span
                i.fa.fa-phone(aria-hidden='true')
                span +38598414550
              br
              span
                i.fa.fa-fax(aria-hidden='true')
                span +38513370948
              br
              span
                a(href='https://www.facebook.com/InoxStakloTeh')
                  i.fa.fa-facebook-official(aria-hidden='true')
                  span ISTeh Facebook stranica
              br
              span
                a(href='mailto:emil.bosak@zg.t-com.hr')
                  i.fa.fa-envelope(aria-hidden='true')
                  span emil.bosak@zg.t-com.hr
              br
              span
                a(href='https://goo.gl/maps/Ygb7J4yA8VJ2' target='_blank')
                  i.fa.fa-map-marker(aria-hidden='true')
                  span Novački odv. II 8, Rakitje
            .col--1-of-3.col--m-2-of-2.col--s-2-of-2.col
              span.hidden
                a(href='index.html').isteh
                      b Inox Staklo Teh
              br
              a.map-link(href='https://goo.gl/maps/Ygb7J4yA8VJ2' target='_blank')
                .map-overlay(data-content='Kliknite za prikaz na Google Maps-u')
                  img(src='../img/isteh_map.png')
            .col--1-of-3.col--m-2-of-2.col--s-2-of-2.col
              span.hidden
                a(href='index.html').isteh
                      b Inox Staklo Teh
              br
              span OIB: 34982622129
              br
              span IBAN: HR3223600001102448735
    script(src="../js/app.js")