doctype html
html
  head
    link(rel="stylesheet", href="../stylesheets/normalize.css")
    link(rel="stylesheet", href="../stylesheets/master.css")
    title Isteh
  body
    header
      .wrap
        .grid--no-gutter
          nav#nav
            ul
              li
                a(href='index.html')
                  b Inox Staklo Teh
              li
                a(href='index.html')
                  b POČETNA
              li
                a(href='ponuda.html') 
                  b PONUDA
              li
                a(href='onama.html') 
                  b O NAMA
              li
                a(href='kontakt.html') 
                  b KONTAKT
              li
                a(href='index.html')
                  b Inox Staklo Teh
    script(src="../js/app.js")
    block content
    footer
      .wrap
        .grid
          nav
            .col.col--3-of-9
              a(href='index.html')
                    b Inox Staklo Teh
            .col.col--3-of-9
            .col.col--3-of-9