extends layout

block content
    .wrap#content
        .grid
            .main
                .panel
                    .col.col--5-of-8.left-fix
                        p
                            | Inox Staklo Teh proizvodi nosače stakla i lake konstrukcije od inoxa.
                            br
                            br
                            | Primarno proizvodimo nosače stakala, posebice spider nosače za točkasto učvršćenje
                            | staklenih fasada i nadstrešnica. Proizvodimo proizvode po narudžbi ovisno o potrebama kupca.
                            br
                            br
                            | Dugi niz godina proizvodimo i montiramo proizvode od inoxa i stakla čija je primjena
                            | sastavni dio modernog građevinarstva zbog trajnosti i jednostavnog održavanja.
                    .col.col--3-of-8