extends layout

block content
    .wrap#content
        .grid
            .main
                .panel
                    .col.col--5-of-8.left-fix
                        p
                            | Inox Staklo Teh proizvodi nosače stakla i lake konstrukcije od inoxa.
                            br
                            br
                            | Primarno proizvodimo nosače stakala, posebice spider nosače za točkasto učvršćenje
                            | staklenih fasada i nadstrešnica. Proizvodimo proizvode po narudžbi ovisno o potrebama kupca.
                            br
                            br
                            | Dugi niz godina proizvodimo i montiramo proizvode od inoxa i stakla čija je primjena
                            | sastavni dio modernog građevinarstva zbog trajnosti i jednostavnog održavanja.
                    .col.col--3-of-8
                        .isteh
                            b Inox Staklo Teh
                        span II Novački odvojak 8, 10437 Rakitje
                        br
                        br
                        span Mob. 098414550
                        br
                        span Tel. 013370948
                        br
                        span Facebook 
                            a(href='https://www.facebook.com/InoxStakloTeh')
                                b fb.com/InoxStakloTeh
                        br
                        span E-mail 
                            a(href='mailto:emil.bosak@zg.t-com.hr')
                                b emil.bosak@zg.t-com.hr
                        br
                        br
                        span OIB 34982622129
                        br
                        span IBAN HR3223600001102448735