extends layout

block content
    .wrap#content
        .grid
            .main
                .panel.ponuda
                    .col--8-of-8
                        span Sekcije stranice proizvoda (kliknite za brzi prebačaj na željenu sekciju):
                        br
                        br
                        .cta-section
                            a(href='#spider') Spider držači
                        .cta-section
                            a(href='#nadstresnice') Nadstrešnice i ograde
                        .cta-section
                            a(href='#ostalo') Proizvodi po narudžbi
                        p
                            | Za više proizvoda, najnovije isporuke
                            | i upite, posjetite našu 
                            a(href='https://www.facebook.com/InoxStakloTeh')
                                b Facebook stranicu
                        h3#spider.anchor Spider držači
                        p
                            | Isporučujemo spider držače različitih namjena i za različite tipove
                            | staklenih ograda, nadstrešnica, fasada, vrata i stijena
                        br
                    .col--4-of-8.col--m-2-of-2.col--s-2-of-2.col.left-fix
                        a(href='../img/img8.jpg' data-lightbox='spider' data-title='Spider fi 50 držači za staklo')
                            .img(data-content='Spider fi 50 držači za staklo')
                                img(src="../img/img8.jpg", alt="Spider fi 50 držači za staklo").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col
                        a(href='../img/img1.jpg' data-lightbox='spider' data-title='Prihvati za staklene fasade s mogućnošću podešavanja')
                            .img(data-content='Spider prihvati za staklene fasade')
                                img(src="../img/img1.jpg", alt="Spider prihvati za staklene fasade").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col
                        a(href='../img/img11.jpg' data-lightbox='spider' data-title='Spider držači za prihvat na rukohvat')
                            .img(data-content='Spider držači za prihvat na rukohvat')
                                img(src="../img/img11.jpg", alt="Spider držači za prihvat na rukohvat").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col.left-fix
                        a(href='../img/img12.jpg' data-lightbox='spider' data-title='Spider držači za prihvat na rukohvat')
                            .img(data-content='Spider držači za prihvat na rukohvat')
                                img(src="../img/img12.jpg", alt="Spider držači za prihvat na rukohvat").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col
                        a(href='../img/img9.jpg' data-lightbox='spider' data-title='Set spider držača za nadstrešnicu')
                            .img(data-content='Set spider držača za nadstrešnicu')
                                img(src="../img/img9.jpg", alt="Set spider držača za nadstrešnicu").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col
                        a(href='../img/img5.jpg' data-lightbox='spider' data-title='Spider držači')
                            .img(data-content='Spider držači')
                                img(src="../img/img5.jpg", alt="Spider držači").img-h
                    .col--2-of-8.col--m-2-of-2.col--s-2-of-2.col
                        a(href='../img/img7.jpg' data-lightbox='spider' data-title='Spider držač')
                            .img(data-content='Spider držači')
                                img(src="../img/img7.jpg", alt="Spider držači").img-h
                    .col--8-of-8
                        h3#nadstresnice.anchor Nadstrešnice i ograde
                        p
                            | Proizvodimo i postavljamo staklene nadstrešnice i ograde prilagođene potrebama klijenata
                        br
                    .col--2-of-8.col--m-4-of-8.col--s-4-of-8.col.left-fix
                        a(href='../img/img17.jpg' data-lightbox='ostalo' data-title='Ograda pričvršćena spider nosačima s maskama')
                            .img(data-content='Ograda pričvršćena spider nosačima s maskama')
                                img(src="../img/img17.jpg", alt="Ograda pričvršćena spider nosačima s maskama").img-h
                    .col--2-of-8.col--m-4-of-8.col--s-4-of-8.col
                        a(href='../img/img4.jpg' data-lightbox='nadstresnice' data-title='Staklena ograda s primjenom spider nosača')
                            .img(data-content='Staklena ograda s primjenom spider nosača')
                                img(src="../img/img4.jpg", alt="Staklena ograda s primjenom spider nosača").img-h
                    .col--2-of-8.col--s-4-of-8.col
                        a(href='../img/img10.jpg' data-lightbox='nadstresnice' data-title='Staklena ograda sa spider držačima')
                            .img(data-content='Staklena ograda sa spider držačima')
                                img(src="../img/img10.jpg", alt="Staklena ograda sa spider držačima").img-h
                    .col--2-of-8.col--s-4-of-8.col
                        a(href='../img/img14.jpg' data-lightbox='nadstresnice' data-title='Staklena ograda sa spider držačima')
                            .img(data-content='Staklena ograda sa spider držačima')
                                img(src="../img/img14.jpg", alt="Staklena ograda sa spider držačima").img-h
                    .col--2-of-8.col--s-4-of-8.col.left-fix
                        a(href='../img/img15.jpg' data-lightbox='nadstresnice' data-title='Staklena ograda sa spider držačima')
                            .img(data-content='Staklena ograda sa spider držačima')
                                img(src="../img/img15.jpg", alt="Staklena ograda sa spider držačima").img-h
                    .col--2-of-8.col--s-4-of-8.col
                        a(href='../img/img16.jpg' data-lightbox='nadstresnice' data-title='Staklena nadstrešnica sa spider držačima')
                            .img(data-content='Staklena nadstrešnica sa spider držačima')
                                img(src="../img/img16.jpg", alt="Staklena nadstrešnica sa spider držačima").img-h
                    .col--2-of-8.col--s-4-of-8.col
                        a(href='../img/img6.jpg' data-lightbox='nadstresnice' data-title='Staklena nadstrešnica sa spider držačima')
                            .img(data-content='Staklena nadstrešnica sa spider držačima')
                                img(src="../img/img6.jpg", alt="Staklena nadstrešnica sa spider držačima").img-h
                    .col--8-of-8
                        h3#ostalo.anchor Ostali proizvodi i posebne narudžbe
                        p
                            | U Inox Staklo Teh-u proizvodimo i postavljamo
                            | širok spektar inox / staklo-inox proizvoda po nacrtu i u potpunosti prilagođenih klijentu
                        br
                    .col--4-of-8.col--m-2-of-2.col--s-2-of-2.col.left-fix
                        a(href='../img/img2.jpg' data-lightbox='ostalo' data-title='Usluge tokarenja po nacrtu')
                            .img(data-content='Usluge tokarenja po nacrtu')
                                img(src="../img/img2.jpg", alt="Usluge tokarenja po nacrtu").img-h
                    .col--2-of-8.col--m-4-of-8.col--s-4-of-8.col
                        a(href='https://www.facebook.com/InoxStakloTeh')
                            .card-cta
                                span Više proizvoda pogledajte na našoj Facebook stranici 
                    .col--8-of-8
                        p
                            | Zanimaju Vas pojedinosti o proizvodima? Nazovite nas na  
                            b 098414550
                        a(href='#')
                            small povratak na vrh stranice &uarr;