extends layout

block content
    .wrap#content
        .grid
            .main
                .panel.ponuda
                    .col--8-of-8
                        h1.no-top-margin OGRADE
                    .col--4-of-8.col--m-2-of-2.col--s-2-of-2.col.left-fix
                        .img(data-content='nadstrešnica s nosačima')
                            img(src="../img/img3.jpg", alt="spider nosac").img-h
                    .col--2-of-8.col--m-4-of-8.col--s-4-of-8.col
                        .img(data-content='nadstrešnica')
                            img(src="../img/img4.jpg", alt="nadstresnica custom nosac").img-h
                    .col--2-of-8.col--s-4-of-8.col
                        .img(data-content='spider nosač')
                            img(src="../img/img1.jpg", alt="spider nosac").img-h
                    .col--2-of-8.col--s-4-of-8.col.left-fix
                        .img(data-content='montaža stakla i nosača')
                            img(src="../img/img2.jpg", alt="spider nosac proizvodnja").img-h
                        .img(data-content='spider nosač')
                            img(src="../img/img7.jpg", alt="ograda custom nosac").img-sm
                    .col--2-of-8.col--s-4-of-8.col
                        .img(data-content='nadstrešnica s nosačima')
                            img(src="../img/img3.jpg", alt="spider nosac").img-sm
                        .img(data-content='spider nosač')
                            img(src="../img/img9.jpg", alt="kutni nosac").img-h
                    .col--8-of-8
                        h1 NADSTREŠNICE
                    .col--8-of-8
                        h1 STAKLENE STIJENE / KLIZNA VRATA
                    .col--8-of-8
                        h1 IZRADA PO NARUDŽBI